<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="app-title">
      🍰 Postres Nancy Online
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">Inicio</ion-button>
      <ion-button fill="clear">Nosotros</ion-button>
      <ion-button fill="clear">Catálogo</ion-button>
      <ion-button fill="clear">Pedidos</ion-button>
      <ion-button fill="clear">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>