<ion-footer class="footer-custom">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-icons">
      <ion-button fill="clear" routerLink="/bienvenida">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" routerLink="/vercatalogo">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
      </ion-button>

      <ion-button fill="clear" routerLink="/vercarrito">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" routerLink="/verestadopedido">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
