    .footer-toolbar {
    background: linear-gradient(90deg, #f4e3b9, #f8b500);
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(233, 172, 172, 0.842);
    }

    .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    }

    .footer-text {
    margin: 0;
    font-size: 0.9rem;
    }

    .footer-icons {
    display: flex;
    gap: 10px;
    margin-top: 5px;

    ion-button {
        --color: #dd4055;
        font-size: 1.3rem;
        transition: transform 0.2s ease-in-out;

        &:hover {
        transform: scale(1.2);
        }
    }
    }

    :host {
  display: block;
}

ion-toolbar.footer-toolbar {
  position: relative;
  z-index: 10;
}
