/* ----- CONTENIDO PRINCIPAL ----- */
ion-content {
  --background: #fabcbc;
  margin-top: 56px;             /* deja espacio para el header */
  display: flex;                
  justify-content: center;      /* centra horizontalmente */
  align-items: center;          /* centra verticalmente */
  min-height: calc(100vh - 56px); /* pantalla menos el header */
}

/* ----- CONTENEDOR DEL FORMULARIO ----- */
.registro-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* ----- CARD ----- */
ion-card {
  width: 100%;
  background: #fc8888;
  max-width: 500px;
  border-radius: 16px;
}

/* ----- OTROS DETALLES ----- */
ion-card-title {
  font-size: 1.4rem;
  font-weight: 600;
}

ion-button {
  --border-radius: 10px;
  color : #fff;
  --background: #ff4949;
}

/* ----- HEADER FIJO ----- */
app-header {
  position: fixed; /* Fijo arriba */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}