<ion-footer class="admin-footer">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-icons">

      <ion-button fill="clear" (click)="goToInicio()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="goToPostres()">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="goToPedidos()">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="goToReclamos()">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="goToEstadisticas()">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-footer>
