<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Acerca de Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="nosotros-container">
    <ion-card class="nosotros-card">
      <ion-card-content>
        <h1 class="titulo-principal">ACERCA DE NOSOTROS ​😀​ </h1>

        <p class="texto-parrafo">
          <span class="negrita">Los Postres de Nancy</span> nace como un homenaje a nuestra madre y motor del hogar, la señora Nancy. 
          En medio de la crisis provocada por la pandemia, encontró en sus postres una forma no solo de sostener a su familia, 
          sino también de proyectar esperanza y futuro. Este emprendimiento representa la 
          <span class="texto-destacado">resiliencia, la unión familiar y el espíritu emprendedor</span>.
        </p>

        <p class="texto-parrafo">
          Desde sus inicios, este pequeño negocio fue impulsado por el amor a la repostería casera y la necesidad de salir adelante. 
          Comenzamos vendiendo a familiares y vecinos cercanos, y con el tiempo, gracias a las recomendaciones y a la calidad de nuestros productos, 
          fuimos creciendo. En <span class="negrita">2022</span>, el nombre comenzó a sonar más allá del barrio. Durante el <span class="negrita">2023</span> ampliamos la variedad de postres 
          y mejoramos nuestros recursos. En <span class="negrita">2024</span>, lanzamos el servicio de delivery e incorporamos opciones saludables. 
          Hoy, en <span class="negrita">2025</span>, seguimos innovando y apostamos por herramientas tecnológicas para mejorar nuestra presencia y atención.
        </p>

        <p class="texto-parrafo">
          Nos especializamos en la <span class="texto-destacado">producción y venta de repostería artesanal</span>, elaborada con ingredientes de calidad, 
          presentación personalizada y adaptada a los gustos de cada cliente. Combinamos recetas tradicionales con creaciones modernas para ofrecer 
          postres únicos, disponibles mediante pedidos directos, por mensaje o a través de nuestro servicio de delivery.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>