<ion-footer class="footer-custom">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-icons">
  <ion-button fill="clear" routerLink="/bienvenidaadmin">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" routerLink="/mispostres">
    <ion-icon name="cube-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" routerLink="/verpedidos">
    <ion-icon name="reader-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" routerLink="/misreclamos">
    <ion-icon name="alert-circle-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" routerLink="/estadisticas">
    <ion-icon name="stats-chart-outline"></ion-icon>
  </ion-button>

</div>
</ion-toolbar>
</ion-footer>
